ul {
	align-content: flex-end;
	float: right;
	background-color: #04215B;
}

li {
	display: inline-block;
	align-items: space-around;
	background-color: #04215B;
	margin-left: 0.5em;
}

a {
	text-decoration: none;
	background-color: #04215B;
	color:  #edf2f4;
}
