.container {
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.half-width {
	width: 50%;
}

.detail-container {
	border: 2px solid #04215B;
	border-radius: 10px;
	width: 75%;
	align-self: auto;
	margin-bottom: 5px;
	background-color: #edf2f4;
}

.Child {
	margin: auto;
	padding: 5px;
	font-size: 1.2em;
	flex: 1 1 auto;
}

.full-width {
	width: 100%;
}



/* Media Queries */

/* Phone */
@media all and (max-width: 575px) {
	.stat-item {
		flex-basis: 100%;
	}

	/* .container {
		display: flex;
	} */

	.detail-container {
		width: 90%;
	}

}

/* Tablet Portait / Phone Landscape (?) */
@media all and (min-width: 576px) and (max-width: 768px) {
	.stat-item {
		flex-basis: 33%;
	}

	.container {
		display: flex;
	}
}

/* Tablet Landscape / Small computer window */
@media all and (min-width: 769px) and (max-width: 991px) {
	.stat-item {
		flex-basis: 25%;
	}
}

@media all and (min-width: 992px) {
	.stat-item {
		flex-basis: 20%;
	}
}

