@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Lato');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #537b88;

    font-family: 'Lato', sans-serif;
}

#main {
    box-shadow: 0em 0.5em 1em 0 rgba(0, 0, 0, 0.5);
    background-color: #303065;
    border: 0.5rem solid silver;
    max-width: 40rem;
    padding: 1rem;
}

#heading {
    margin: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.5em;
    grid-column-gap: 1em;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

#heading .label {
    color: #aac;
    display: inline;
}

#heading a {
    color: #5ff;
}

#flags {
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#flags a {
    color: inherit;
    text-decoration: inherit;
}

span.info_icon {
    color: #6bc;
}

#seed {}

#version {}

#checksum-container {
    display: inline-block;
    background-color: #008;
    padding: 0.2em;
    border: 0.2em outset #fff;
    border-radius: 0.4em;
}

img.checksum-tile {
    width: 1em;
    height: 1em;
    image-rendering: pixelated;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#patch {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: silver;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: #444;
}

#file_section {
    display: flex;
    align-items: stretch;
    margin-top: 0.8rem;
}

#source_rom,
#cached_file {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem dashed #887;
    border-radius: 0.5rem;
    background-color: #eee;
    flex-grow: 1;
}

#cached_file {
    font-size: 0.8rem;
    background-color: #dfd;
    text-align: left;
}

#clear_cached_file_button {
    display: inline-block;
    border: 1px solid #888;
    color: #555;
    background-color: #eee;
    margin-left: 0.5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    cursor: pointer;
}

#clear_cached_file_button:hover {
    background-color: #fff;
}

#source_rom:hover {
    border-color: #bb8;
    background-color: #fffff0;
}

#apply_button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffee96;
    border-radius: 0.5rem;
    color: #796c26;
    cursor: pointer;
    user-select: none;
    flex-grow: 0;
    margin-left: 0.5rem;

    position: relative;
    top: -0.1rem;
    box-shadow: 0 0.1rem #796c26;

    padding-left: 1rem;
    padding-right: 1rem;
}

#apply_button.disabled {
    color: #888;
    background-color: #ddd;
    position: relative;
    top: 0;
    box-shadow: 0 0 0;
    cursor: inherit;
}

#apply_button:active {
    position: relative;
    top: 0;
    box-shadow: 0 0 0;
}

#error {
    margin-top: 1rem;
    color: #d44;
    display: none;
}

#share {
    font-size: 0.8rem;
    padding: 1rem;
    color: silver;
    text-align: center;
}

#share a {
    color: white;
}

#credit {
    font-style: italic;
    color: #ddd;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5em;
}

#credit a {
    color: #bdf;
}

#flag_info_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
}

#flag_info_container.visible {
    display: block;
}

#flag_info {
    max-width: 30rem;
    font-size: 0.9rem;
    margin-right: 0;
    margin-left: auto;
    background-color: #fefef0;
    padding: 2rem;
}

#flag_info .section {
    margin-bottom: 1em;
}

#flag_info .title {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    color: #aaa;
    border-bottom: 1px dotted #aaa;
}

#flag_info .flag_container {
    padding-top: 0.4em;
    margin-bottom: 0;
}

#flag_info .disabled {
    display: none;
}

#flag_info .disabled.shown {
    display: block;
}

#flag_info .disabled.shown .flag {
    text-decoration: line-through;
    opacity: 0.4;
}

#flag_info .disabled.shown .flag_description {
    display: none;
}

#flag_info div.flag {
    margin: 0;
}

#flag_info span.flag {
    display: inline-block;
    font-weight: bold;
    background-color: #887;
    color: #ffe;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0.2em;
}

#flag_info span.anonymous {
    color: #554;
    font-size: 0.85em;
}

#flag_info span.anonymous::after {
    content: ":";
}

#flag_info span.flag.hard {
    background-color: #b55;
}

#flag_info div.flag.with_description {
    cursor: pointer;
}

#flag_info .flag_description {
    font-style: italic;
    font-size: 0.9em;
    color: #887;
    display: none;
}

#flag_info .flag_description p {
    margin: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#flag_info .flag_subsection {
    margin: 0;
    border-left: 0.5em solid #ddc;
    padding-left: 0.5em;
}

#flag_info_buttons {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #ddc;
    padding: 0.4em;
}